{% extends 'account/base.html' %}
{% load student_tags %}

{% block title %}Моя панель управления{% endblock %}

{% block content %}
    <h1 class="msg-simple">Добро пожаловать на панель(управления)!</h1>
    <a href="{% url 'pass-change' %}">Поменять пароль</a>
    <a href="{% url 'pass-reset' %}">Забыли пароль?</a>
    <a href="{% url 'edit-profile' %}">Редактировать профиль</a>
    <h1 class="msg-simple" style="text-align: center;">Ваши добавленные изображения</h1>
   
{% student_list_courses user=user %}

{% endblock %}